$rem-baseline: 16px !default;
$font-family: Helvetica, Arial, sans-serif;

/* Colors
-------------------------- */
$color-white: #fff;
$background-color: #f1f1f1;
$divider-color: #ebebeb;
$background-footer: rgba(241, 241, 241, .5);
$color-text-primary: #737c84;
$color-text-secondary: #b4b4b4;
$temperature-blue: #69a3ff;
$temperature-orange: #ff9632;
$temperature-red: #ed1646;
