*.txt
# Cruft
*~
*#
.#*
.DS_Store

# Test
coverage
.eslintcache

# Storybook
storybook-static

# Logs
*.log

# npm & yarn
node_modules/
.npm
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/build/bundle.js
/build/index.html
/build*
/build/*

# Editor/IDE
.vscode
.idea

.env
