.body {
  width: 75%;
  height: auto;
  min-height: rem(650px);
  margin: 0 auto;

  border-top: rem(1.5px) solid $divider-color;
  background-color: $background-color;

  @include flex-default();

  @media (max-width: 1024px) {
    & {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    & {
      align-items: flex-start;
      padding-top: .92rem;
    }
  }
}
